/*--- colours ---*/

body {
    background-color: #fafafa;
}

/*--- padding/margin/text ---*/

.name {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 15px;
}

.uppercase {
    text-transform: uppercase;
}

.about-me-main {
    padding: 15px;
}

.about-me {
    font-weight: 500;
    padding-bottom: 10px;
}

.quotes-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.quotes {
    padding: 15px;
}

.nice-things {
    font-weight: 400;
    padding-bottom: 10px;
}

.quote-item {
    padding: 5px 15px 10px 15px;
}

.mailing-list-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.mailing-list-subscribe {
    padding: 15px;
}

.free-daily-emails {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.free-daily-emails-subheading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: 15px;
}

.merch-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.stuff-i-sell {
    padding-bottom: 15px;
    margin-bottom: 0;
}

.stuff-i-sell-subheading {
    padding-bottom: 15px;
}

/*--- header ---*/

.navbar {
    background-color: #000000;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav li {
    padding: 0 3em;
    min-width: 20%;
}

.navbar-nav li a {
    color: #ffffff;
}

.checkout {
    min-width: 20%;
    text-align: right;
}

.checkout ul li {
    width: 100%;
    color: #ffffff;
    text-align: right;
    font-size: 1.2em;
}

/*--- top gallery ---*/

.gallery-container {
    margin: 0;
    min-height: 240px;
}

.gallery-image {
    padding-bottom: 15px;
    padding-top: 15px;
}

.gallery-item {
    width: 25%;
    display: inline-block;
}

/*--- quotes ---*/

.quote-item blockquote i {
    font-size: 4rem;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*--- mailing list ---*/

.email-form {
    min-height: 200px;
}

.form-control {
    min-width: 75%;
    padding-left: 2px;
    padding-right: 2px;
}

.btn-secondary {
    background-color: green;
    padding-left: 2px;
    padding-right: 2px;
}

/*--- merch ---*/

.store-gallery {
    height: 240px;
}

.store-item {
    display: inline-block;    
}

.store-gallery .store-item img {
    height: 270px;
    width: 270px;
}

/*--- footer ---*/

.payment-info,
.social-media {
    background-color: aquamarine;
    margin-bottom: 0;
}