/*--- general ---*/

body {
  background-image: url("../images/site-background.png");
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.content {
  margin-bottom: 0.8rem;
}

.divider {
  padding-left: 15px;
  padding-right: 15px;
}

.returntotop-container {
  padding-bottom: 10px;
  text-align: right;
  font-size: 0.8rem;
  color: #444444;
}

.returntotop {
  padding: 15px;
}

#returnToTop {
    display: none;
    position: fixed;
    bottom: 5rem;
    right: 1.2rem;
    font-size: 3rem;
    text-align: center;
    color: red;
    cursor: pointer;
    background: no-repeat;
    opacity: .8;
    z-index: 99;
}

/*--- header ---*/

.navbar {
  background-color: #000000;
  padding-bottom: 5px;
}

.navbar-toggler {
  border: 2px solid #fff;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler i {
  color: #fff;
}

.navbar-collapse {
  margin-top: 0.5rem;
}

.collapse .navbar-nav {
  display: none;
}

.show .navbar-nav {
  display: block;
}

.nav-item {
  padding: 0 1em;
  min-width: 20%;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #ffffff;
}

.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-secondary:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0;
}

.btn-secondary:focus {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
  box-shadow: none;
}

.btn-secondary {
  background-color: #000000;
  border-color: #000000;
  padding-left: 2px;
  padding-right: 2px;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: #000000;
  border-color: #000000;
}

.dropdown-menu {
  background-color: #000000;
  margin-top: 0.8rem;
}

.dropdown-menu a:hover {
  background-color: #000;
  color: #fff;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #000;
  text-decoration: none;
  background-color: #fff;
}

.menu-container {
  padding-bottom: 5px;
}

#checkout {
  text-align: right;
  color: #ffffff;
}

#counter {
  background-color: #fff;
  color: #000;
  font-size: 0.6rem;
  border-radius: 50%;
  padding: 2px 5px;
  font-weight: 700;
}

/*--- hero image ---*/

.hero-image-container {
  margin: 0.8rem 0 0 0;
}

.hero-image {
  padding-bottom: 15px;
  padding-top: 15px;
}

.hero-image img {
  height: 50%;
  width: 50%;
}

/*--- about me ---*/

.about-me-container {
  margin-top: 0.5rem;
}

.name {
  font-size: 3rem;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
}

.title {
  font-size: xx-large;
  font-weight: 300;
  padding-bottom: 15px;
}

.uppercase {
  text-transform: uppercase;
}

.headline-link {
  text-decoration: underline;
}

.about-me-main {
  width: 80%;
  padding: 15px;
  display: inline-block;
}

.about-me {
  font-weight: 500;
  padding-bottom: 10px;
}

.about-me-link {
  text-decoration: underline;
}

/*--- HOMEPAGE ---*/

/*--- quotes ---*/

.quotes-container {
  padding: 15px 25px;
}

.nice-things {
  padding-bottom: 10px;
}

.quotes {
  padding: 15px 20px;
  margin-top: 1.2rem;
}

.quote-item {
  padding: 0;
  margin-bottom: 0.8rem;
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
}

.quote-item blockquote {
  margin: 0.8rem;
}

.quote-item blockquote i {
  font-size: 1.5rem;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.quote-text {
  font-style: italic;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

/*--- stuff i sell ---*/

.merch-container {
  padding: 15px 25px;
}

.stuff-i-sell {
  padding-bottom: 15px;
  margin-bottom: 0;
}

.stuff-i-sell-subheading {
  padding-bottom: 15px;
  font-weight: 300;
  font-size: 16px;
}

.inline-shop-link {
  color: #000000;
  font-weight: 500;
  text-decoration: underline;
}

.inline-shop-link:hover {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.tshirt-item,
.book-item {
  width: 100%;
  padding: 10px;
}

.merch-item {
  display: inline-block;
}

.item-price-container {
  padding: 10px 5px;
}

.item-name {
  font-size: 14px;
}

.item-price {
  font-weight: 500;
  font-size: 18px;
}

.add-to-cart {
  margin-bottom: 0.5rem;
}

.add-item {
  border-radius: 50%;
  font-size: 1.2rem;
  background-color: #000000;
  border-color: #000000;
}

.add-item:hover {
  background-color: #000000;
  border-color: #000000;
}

.add-item:focus {
    outline: none;
}

/*--- mailing list ---*/

.mailing-list-container {
  padding: 15px 25px;
}

.mailing-list-subscribe {
  padding: 15px;
}

.free-emails {
  font-size: 3rem;
  font-weight: 400;
  padding-bottom: 15px;
  margin-bottom: 0;
}

.free-emails-subheading {
  font-size: 1rem;
  font-weight: 200;
  padding-bottom: 15px;
}

.email-form {
  min-height: 200px;
}

.email {
  width: 100%;
}

.email-input {
  width: 100%;
}

.subscribe {
  font-size: 1.5rem;
  width: 100%;
}

.rc-container {
    /*--- width: 50%; ---*/
    padding: 20px 0;
}

.rc-container div {
    width: 100% !important; /* overriding style attribute of width: 304px */
}

#gRecaptcha {
    width: 40%;
    margin-top: -15px;
}

/*--- ABOUT ---*/

.gallery-container {
  padding: 15px 25px;
}

.images-wrapper {
  padding: 15px;
}

/*--- SHOP ---*/

.store-container {
  padding-left: 15px;
  padding-right: 15px;
}

/*--- t-shirts ---*/

.tshirts-heading {
  padding-bottom: 15px;
  margin-bottom: 0;
}

/*--- tutoring ---*/

.tutoring-container {
  padding: 15px 25px;
  width: 70%;
}

.tutoring-heading {
  padding-bottom: 15px;
  margin-bottom: 0;
}

.tutoring-subheading {
  font-size: 20px;
  font-weight: 300;
}

.contact-form {
  padding: 25px 0;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.form-control {
  padding-left: 2px;
  padding-right: 2px;
  height: 3em;
}

.dob-select {
  background-color: silver;
  padding: 5px;
  display: block;
}

.dob-small {
  padding-left: 15px;
  padding-top: 5px;
}

.tutoring-options {
  padding-top: 7px;
  padding-bottom: 7px;
}

.competency-level-option,
.lesson-length-option {
  padding-right: 7px;
}

.submit-button {
  padding-top: 15px;
}

.submit-request {
  width: 100%;
  font-size: 1.2rem;
}

/*--- fitness ---*/

.fitness-container {
  padding: 15px 25px;
  width: 70%;
}

.books-heading {
  padding-bottom: 15px;
  margin-bottom: 0;
}

/*--- web services ---*/

.web-services-container {
  padding: 15px 25px;
}

.web-services-heading {
  padding-bottom: 15px;
  margin-bottom: 0;
}

.fsd-alert {
  font-size: 18px;
  font-weight: 300;
  margin: 1.5rem 0;
}

/*--- MERCH ---*/

.tshirts-subheading {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 5px 15% 15px;
}

.brand-site-link {
  font-weight: 500;
}

/*--- FITNESS ---*/

.coaching-heading {
  padding-bottom: 15px;
  margin-bottom: 0;
}

.coaching-subheading {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 15px;
}

/*--- WEB SERVICES ---*/

.announcement {
  padding: 0;
}

.coming-soon {
  width: 100%;
}

.under-construction-right {
  text-align: right;
}

/*--- CV ---*/

.cv-container {
  padding: 15px 25px;
  width: 80%;
}

.work-history-heading {
  padding-bottom: 15px;
  margin-bottom: 0;
}

.experience-timeline,
.education-timeline {
  line-height: 1.6;
  text-align: left;
}

.cv-main-heading {
  font-size: 2.4em;
  padding: 15px;
}

.cv-main-heading {
  font-size: 2.4em;
  padding: 15px;
}

.timeline-item {
  padding: 0 0 10px 10px;
}

.cv-dates {
  font-size: 0.8rem;
  font-weight: lighter;
}

.cv-download {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.cv-download button a {
  color: #ffffff;
}

/*--- CONTACT ---*/

.contact-container {
  width: 70%;
  padding: 15px 25px;
}

.contact-us-heading {
  padding-bottom: 15px;
  margin-bottom: 0;
}

.contact-us-subheading {
  font-weight: 300;
  padding-bottom: 15px;
  font-size: 1.2rem;
}

/*--- CART ---*/

.shopping-cart-container {
  padding: 30px;
  margin: 0 auto;
}

.cart-main-heading {
  padding-bottom: 15px;
}

.cart-overview {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.product-title,
.product-price,
.product-quantity,
.cart-total {
  /*--- text-align: center;
  margin-bottom: 0.6rem; ---*/
  display: inline-block;
  /*--- width: 20%; ---*/
}

.product-title {
    width: 35%;
    padding-left: 20px;
    text-align: left;
}

.product-price {
    width: 10%;
}

.product-quantity {
    width: 15%;
}

.cart-total {
    text-transform: uppercase;
    width: 20%;
}

.cart-item-wrapper {
    padding: 10px 0;
    border-bottom: 1px solid #000;
}

.product {
    text-align: left;
    width: 35%;
}

.price {
    width: 10%;
}

.quantity {
    width: 15%;
}

.total {
    width: 20%;
}

.product,
.price,
.quantity,
.total {
    display: inline-block;
    /*--- width: 20%; ---*/
}

.cart-item-thumbnail {
    height: 50px;
    width: 50px;
    margin-left: 5px;
    margin-right: 10px;
}

.basket-total-container {
    width: 80%;
    padding: 0;
}

.basket-total-title {
    text-align: left;
    padding-top: 15px;
    margin-left: 0.8rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.basket-total {
    font-size: 1.2rem;
    text-align: right;
    padding-top: 15px;
    font-weight: 600;
    margin-right: 3rem;
}

.empty-cart {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0.8rem;
    padding: 15px;
}

.back-to-shop-heading {
    padding: 15px;
}

.back-to-shop-link {
    text-decoration: underline;
}

.vat-info {
    margin-top: 0.5rem;
    margin-right: 2.5rem;
    margin-bottom: 1.6rem;
    padding: 5px;
    font-size: 0.8rem;
    color: #454454;
    font-weight: 200;
    text-align: right;
}

.checkout-button {
    padding-bottom: 5px;
}

.btn-checkout {
    padding: 10px 20px;
    width: 50%;
}

.continue-shopping-button {
    padding-top: 5px;
}

.btn-continue-shopping {
    padding: 10px 20px;
    width: 50%;
    background-color: #fff;
}

/*--- footer ---*/

footer {
  background-color: seagreen;
  padding-top: 5px;
}

.info-media-wrapper {
  margin-bottom: 0;
}

.payment-info-container {
  padding-top: 2px;
  width: 50%;
}

.payment-info {
  padding-left: 15px;
  padding-top: 2px;
}

.list-inline-item {
  padding-right: 0px;
  font-size: 1em;
  color: #fff;
}

.social-media-container {
  text-align: right;
  padding-top: 2px;
  width: 50%;
}

.social-media {
  padding-right: 15px;
  padding-top: 2px;
}

.social-media-link {
  color: #fff;
}

.copyright-notice {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 200;
  color: #fff;
  padding-bottom: 10px;
}

/*--- media queries ---*/

@media screen and (min-width: 387px) {
  .dob-select {
    display: inline;
  }
}

@media screen and (min-width: 576px) {
  .stuff-i-sell-subheading {
    font-size: 1.2rem;
  }

  .free-emails {
    font-size: 3.2rem;
  }

  .free-emails-subheading {
    font-size: 1.2rem;
  }

  .email-input {
    width: 100% !important;
  }

  .list-inline-item {
    padding-right: 10px;
    font-size: 1.2em;
  }

  .checkout-button {
    text-align: right;
    padding-bottom: 0;
  }

  .btn-checkout {
      width: 75%;
  }

  .continue-shopping-button {
    text-align: left;
    padding-top: 0;
  }

  .btn-continue-shopping {
      width: 75%;
  }
}

@media screen and (min-width: 768px) {
  .nav-item {
    padding: 0 2em;
  }

  .quote-item {
    padding: 5px 15px 10px;
    margin: 0 0.8rem;
  }

  .free-emails {
    font-size: 3.5rem;
  }

  .free-emails-subheading {
    font-size: 1.5rem;
  }

  .email-input {
    width: 70% !important;
  }

  .subscribe {
    font-size: 1.3rem;
    width: auto;
  }

  .about-me-main {
    width: 70%;
  }

  .submit-request {
    width: 50%;
  }

  .under-construction-left {
    text-align: left;
  }

  .btn-checkout {
      width: 60%;
  }

  .btn-continue-shopping {
      width: 60%;
  }
}

@media screen and (min-width: 992px) {
  .submit-request {
    width: 30%;
  }

  .under-construction {
    height: 10rem;
  }

  .btn-checkout {
      width: 50%;
  }

  .btn-continue-shopping {
      width: 50%;
  }
}

@media screen and (max-width: 352px) {
    .rc-container {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}