
.navbar {
    background-color: #000000;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav li {
    padding: 0 3em;
    min-width: 20%;
}

.navbar-nav li a {
    color: #ffffff;
}

.gallery-container {
    margin: 0;
    min-height: 240px;
}

.gallery-image {
    padding-bottom: 15px;
    padding-top: 15px;
}

.name,
.title {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}
