/*--- colours ---*/

body {
    background-image: url("../images/site-background.png");
    /*--- background-color: #ddecec; ---*/
    /*-- decide between one of the two --*/
}

a {
    color: inherit;
    text-decoration: none;
}

.btn-secondary:hover,
.btn-secondary:active {
    background-color: #000000;
    border-color: #000000;
}

.cv-download button a {
    color: #ffffff;
}

.btn-link {
    color: #000000;
}

.btn-link:hover {
    color: #000000;
    text-decoration: none;
}

/*--- padding/margin/text ---*/

a:hover {
    text-decoration: none;
    color: inherit;
}

.divider {
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-container {
    margin-top: 0.8rem;
}

.name {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.title {
    text-align: center;
    font-size: xx-large;
    font-weight: 300;
    padding-bottom: 15px;
}

.uppercase {
    text-transform: uppercase;
}

.headline-link {
    text-decoration: underline;
}

.about-me {
    font-weight: 500;
    padding-bottom: 10px;
}

.about-me-link {
    text-decoration: underline;
}

.quotes-container {
    padding: 15px 25px;
}

.nice-things {
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.quotes {
    padding: 15px 20px;
    margin-top: 1.2rem;
}

.quote-text {
    font-style: italic;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.mailing-list-container {
    padding: 15px 25px;
}

.mailing-list-subscribe {
    padding: 15px;
}

.free-daily-emails {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.free-daily-emails-subheading {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 200;
    padding-bottom: 15px;
}

.merch-container {
    padding: 15px 25px;
    text-align: center;
}

.merch-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.stuff-i-sell {
    padding-bottom: 15px;
    margin-bottom: 0;
    text-align: center;
}

.stuff-i-sell-subheading {
    padding-bottom: 15px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
}

.store-gallery {
    padding: 15px;
}

.featured-merch {
    padding-top: 15px;
}

.store-item-name {
    padding-top: 0;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
}

.store-item-price {
    padding-top: 0;
    padding-bottom: 15px;
    padding-right: 25px;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 600;
}

.gallery-container {
    padding: 15px 25px;
}

.store-container {
    padding-left: 15px;
    padding-right: 15px;
}

.tshirts-heading {
    padding-bottom: 15px;
    margin-bottom: 0;
}

.item-price-container {
    padding: 10px 5px;
}

/*---.item-container {
    padding-left: 5px;
}---*/

.item-name {
    font-size: 14px;
}

.price-container {
    padding-right: 10px;
}

.item-price {
    font-weight: 500;
    font-size: 18px;
}

.tutoring-container {
    padding: 15px 25px;
    text-align: center;
    width: 70%;
}

.tutoring-heading {
    padding-bottom: 15px;
    margin-bottom: 0;
}

.tutoring-subheading {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.1em;
}

/*---.signup {
    padding-top: 15px;
    padding-right: 30px;
}---*/

/*---.dob-dropdown {
    margin-left: 10px;
}---*/

.dob-small {
    padding-left: 15px;
    padding-top: 5px;
}

.tutoring-options {
    padding-top: 7px;
    padding-bottom: 7px;
}

/*---.book-now {
    font-weight: 500;
}---*/

.competency-level-option,
.lesson-length-option {
    padding-right: 7px;
}

.cv-container {
    padding: 15px 25px;
    text-align: center;
}

.work-history-heading {
    padding-bottom: 15px;
    margin-bottom: 0;
}

.cv-wrapper {
    margin-top: 1.2rem;
}

.timeline-container-exp {
    padding-left: 15px;
}

.timeline-item {
    padding: 0 0 10px 10px;
}

.timeline-container-edu {
    padding-right: 15px;
}

.cv-dates {
    font-size: 0.8rem;
    font-weight: lighter;
}

.cv-download {
    text-align: center;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.card-header {
    padding-left: 2px;
    padding-right: 5px;
}

.cv-main-heading-mobile {
    text-align: left;
    padding-left: 5px;
}

.contact-us-heading {
    padding-bottom: 15px;
    margin-bottom: 0;
}

.contact-us-subheading {
    font-weight: 300;
    padding-bottom: 15px;
    font-size: 1.2rem;
}

.contact-form {
    padding: 25px 0;
}

.add-to-cart {
    margin: 0.8rem 0;
}

.books-container {
    padding: 15px 25px;
    text-align: center;
}

.coaching-container {
    padding: 15px 25px;
    text-align: center;
    width: 70%;
}

.books-heading {
    padding-bottom: 15px;
    margin-bottom: 0;
}

.coaching-heading {
    padding-bottom: 15px;
    margin-bottom: 0;
}

.coaching-subheading {
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 15px;
}

.details-box {
    padding-bottom: 10px;
}

.under-construction-container {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0.8rem;
}

.web-services-heading {
    padding-bottom: 15px;
    margin-bottom: 0;
}

/*--- header ---*/

.menu-container {
    /*--background-color: #000000;--*/
    padding-bottom: 5px;
    /*---margin-bottom: 0.8rem;---*/
}

.navbar {
    background-color: #000000;
    padding-bottom: 5px;
} 

/*--- .navbar button {
    border-color: #ffffff;
}

.navbar button i {
    color: #ffffff;
} ---*/

.navbar-toggler {
    border: 2px solid #fff;
}

.navbar-toggler i {
    color: #fff;
}

.btn-secondary:focus {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    box-shadow: none;
}

.mobile-cart {
    display: inline-block;
    text-align: right;
    width: 80%;
}

.mobile-cart a {
    color: #ffffff;
}

.mobile-cart a:active {
    color: #ffffff;
}

.navbar-collapse {
    margin-top: 0.5rem;
}

/*---.navbar-nav {
    flex-direction: row;
}--*/

.collapse .navbar-nav {
    display: none;
}

.show .navbar-nav {
    display: block;
}

.nav-item {
    padding: 0 1em;
    /*---display: block;---*/
    min-width: 20%;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #ffffff;
}

.dropdown-menu {
    background-color: #000000;
    margin-top: 0.8rem;
}

.btn-secondary {
    background-color :#000000;
    border-color: #000000;
    padding-left: 2px;
    padding-right: 2px;
}

 .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
 }

 .btn-secondary:focus,
 .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0;
 }

 .dropdown-item {
     color: #fff;
 }

 .dropdown-menu a:hover {
    background-color: #000;
    color: #fff;
 }

/*-.checkout {
    width: 100%;
    text-align: right;
}-*/

.navbar-checkout {
    padding: 0;
    margin: 0;
    text-align: right;
}

/*-.checkout ul li {
    width: 100%;
}-*/

/*--- .nav-item a i {
    margin-top: 0.8rem;
} ---*/

/*--- hero image ---*/

.hero-image-container {
    margin: 0.8rem 0 0 0;
    /*---min-height: 240px;---*/
}

.hero-image {
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

.hero-image img {
    height: 50%;
    width: 50%;
}

/*--- about me info ---*/

.about-me-container {
    text-align: center;
}

.about-me-main {
    padding: 15px;
    display: inline-block;
}

/*--- quotes ---*/

.quote-item {
    padding: 5px 15px 10px 15px;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: #fff;
    color: #000;
    text-align: center;
    display: flex;
    align-items: center;
}

.quote-item blockquote {
    margin: 0.8rem;
}

.quote-item blockquote i {
    font-size: 2rem;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*--- mailing list ---*/

.email-form {
    min-height: 200px;
}

.email {
    width: 100%;
    text-align: center;
}

.form-control {
    padding-left: 2px;
    padding-right: 2px;
    height: 3em;
}

.email-input {
    width: 100%;
}

.subscribe {
    font-size: 1.5rem;
    width: 100%;
}

/*--- merch ---*/

.inline-shop-link {
    color: #000000;
    font-weight: 500;
    text-decoration: underline;
}

.inline-shop-link:hover {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.mobile-store {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0.8rem;
}

.store-item {
    display: inline-block; 
    width: 25%;
    padding: 0;
    margin: 5px;  
}

.shop-item {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.price {
    font-size: 16px;
    font-weight: 500;
}

.store-gallery .store-item img {
    width: 100%;
}

/*--- about me page ---*/

/*--- images gallery ---*/

.images-wrapper {
    padding: 15px;
}

.img-item {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}

/*--- shop page ---*/

.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
}

.carousel-control-prev {
    left: -5%;
}

.carousel-control-next {
    right: -5%;
}

.carousel-control-prev i {
    color: red;
    opacity: .7;
    font-size: 3rem;
    margin-bottom: 4rem;
}

.carousel-control-next i {
    color: red;
    opacity: .7;
    font-size: 3rem;
    margin-bottom: 4rem;
}

/*--- t-shirts ---*/

.tshirts-container {
    overflow: hidden;
    white-space: nowrap;
}

.tshirt-items,
.book-items {
    padding-top: 10px;
    width: 100%;
    list-style: none;
}

.tshirt-item,
.book-item {
    width: 100%;
    padding: 10px;
}

.tshirt-item-mobile,
.book-item-mobile {
    min-height: 260px;
    text-align: center;
    float: none;
    width: 100%;
    padding: 10px;
}

/*--- tutoring ---*/

.dob-select {
    background-color: silver;
    padding: 5px;
}

/*--- cv ---*/

.mobile-work-history {
    margin-bottom: 15px;
    width: 100%;
}

.mobile-cv-section {
    background-color: transparent;
    border: 1px transparent;
    padding-left: 10px;
}

.cv-mobile-expand {
    float: right;
}

.experience-container,
.education-container {
    line-height: 1.6;
    text-align: left;
}

.cv-main-heading {
    text-align: left;
    font-size: 2.4em;
    padding-bottom: 15px;
}

/*--- contact ---*/

/*---.contact {
    width: 70%;
} ---*/

.contact-container {
    width: 70%;
    text-align: center;
    padding: 15px 25px;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

.submit-button {
    text-align: center;
    padding-top: 15px;
}

.submit-request {
    width: 100%;
    font-size: 1.2rem;
}

/*--- merch page ---*/

.merch-item {
    display: inline-block;
}

.btn-addtocart {
    font-size: 1.5em;
    letter-spacing: .05em;
    border: none;
    border-radius: 50%;
    background-color: #000000;
}

/*--- fitness page ---*/

.coming-soon-banner {
    padding-left: 15px;
    padding-right: 15px;
    opacity: .8;
}

/*--- web services page ---*/

.web-services-container {
    padding: 15px 25px;
    text-align: center;
}

.under-construction-left {
    text-align: center;
    width: 20%
}

.under-construction-right {
    text-align: right;
    width: 20%
}

.announcement {
    padding: 0;
}

.coming-soon {
    width: 100%;
}

.under-construction-mobile,
.coming-soon-mobile {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.fsd-alert {
    font-size: 18px;
    font-weight: 300;
    margin: 1.5rem 0;
    text-align: center;
}

/*--- return to top button ---*/

.returntotop-container {
    padding-bottom: 10px;
    text-align: right;
    font-size: 0.8rem;
    color: #444444;
}

.returntotop {
    padding: 15px;
}

/*--- footer ---*/

footer {
    background-color: seagreen;
    padding-top: 5px;
}

/*--- .bttt-button {
    background-color: #fafafa;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 10px;
}

.back-to-top {
    border: none;
    background-color: red;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    font-size: 10px;
}

.back-to-top-link {
    color: #fff;
}

.back-to-top-link:hover {
    color: #fff;
    text-decoration: none; 
} ---*/

/*-- taken from W3 Schools --*/

.info-media-wrapper {
    margin-bottom: 0;
}

.payment-info-container {
    padding-top: 2px;
    width: 50%;
}

.social-media-container {
    text-align: right;
    padding-top: 2px;
    width: 50%;
}

.payment-info {
    padding-left: 15px;
    padding-top: 2px;
}

.social-media {
    padding-right: 15px;
    padding-top: 2px;
}

.list-inline-item {
    padding-right: 10px;
    font-size: 1.2em;
    color: #fff;
}

.social-media-link {
    color: #fff;
}

.copyright-notice {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 200;
    color: #fff;
    padding-bottom: 10px;
}

/*--- media queries ---*/

/*--- @media screen and (min-width: 576px) {
    .navbar {
        padding-bottom: 0;
        background-color: #000000;
    }
} ---*/

@media screen and (min-width: 768px) {
    .about-me-main {
        width: 75%
    }
}

@media screen and (min-width:415px) {
    .subscribe {
        font-size: 1.3rem;
        margin-top: 0;
        width: 100%;
    }

    .stuff-i-sell-subheading {
        font-size: x-large;
        font-weight: 200;
    }

    .store-gallery {
        text-align: inherit;
    }

    .store-item-name,
    .store-item-price {
        padding-top: 15px;
        padding-bottom: 0;
    }

}

@media screen and (min-width: 415px) {
    .img-item {
        display: inline;
    }
}

@media screen and (max-width: 768px) {
    .quote-item {
        padding: 0;
        /*---margin-top: 0.8rem;---*/
        margin-bottom: 0.8rem;
    }
}

@media screen and (min-width: 415px) {
    .coming-soon-banner {
        width: 70%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 415px) {
    .dob-select {
        height: auto;
        width: auto;
        background-color: silver;
        margin: 0 5px;
        padding: 0;
    }
}

@media screen and (max-width: 415px) {
    .cv-main-heading {
        text-align: left;
        font-size: 2.4em;
    }
}

/*---@media screen and (max-width: 415px) {
    .contact {
        width: 100%;
    }
} ---*/

@media screen and (max-width: 415px) {
    .carousel-control-prev {
        left: 0;
    }
    
    .carousel-control-next {
        right: 0;
    }
}

@media screen and (max-width: 415px) {
    .returntotop-container {
        .padding-top: 15px;
    }
}

@media screen and (max-width: 376px) {
    .list-inline-item {
        padding-right: 0;
        font-size: 1em;
    }
}

@media screen and (min-width: 576px) {
    .email-input {
        width: 100%!important;
    }
}

@media screen and (min-width: 768px) {
    .nav-item {
        padding: 0 2em;
    }

    .form-control {
        padding-left: 2px;
        padding-right: 2px;
        height: 3em;
    }

    .email-input {
        width: 70%!important;
    }

    .subscribe {
        font-size: 1.3rem;
        margin-top: 0;
        width: auto;
    }
}

@media screen and (min-width: 768px) {
    .quote-item blockquote i {
        font-size: 3rem;
    }
}

@media screen and (min-width: 624px) {
    .shop-item {
        font-size: 18px;
    }
}

@media screen and (min-width: 642px) {
    .shop-item {
        font-size: 20px;
    }
}

@media screen and (min-width: 657px) {
    .price {
        font-size: 18px;
    }
}

@media screen and (min-width: 682px) {
    .price {
        font-size: 20px;
    }
}

@media screen and (min-width: 717px) {
    .price {
        font-size: 22px;
    }
}

@media screen and (min-width: 744px) {
    .price {
        font-size: 24px;
    }
}

@media screen and (min-width: 771px) {
    .price {
        font-size: 26px;
    }
}

@media screen and (min-width: 918px) {
    .shop-item {
        font-size: 22px;
    }
}

@media screen and (min-width: 947px) {
    .price {
        font-weight: 600;
    }
}

@media screen and (min-width: 576px) {
    .free-daily-emails {
        font-size: 3.2rem;
    }

    .free-daily-emails-subheading {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 768px) {
    .free-daily-emails {
        font-size: 4rem;
    }

    .free-daily-emails-subheading {
        font-size: 1.8rem;
    }

    .submit-request {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .submit-request {
        width: 30%;
    }
}

@media screen and (min-width: 768px) {
    .under-construction-left {
        text-align: left;
    }
}

@media screen and (min-width: 992px) {
    .under-construction {
        height: 10rem;
    } 
}